<section class="section">
    <div class="container slider">
        <p class="test">customer-reviews</p>

        <div class="slider">
          <div>
            <!-- Customer1 -->
            <picture class="about-image">
              <source media="(min-width: 1200px)" srcset="../src/images/slider/slider-photo1@1x.png  1x,
              ./images/slider/slider-photo1@1x.webp 2x" type="image/webp">
              <!-- Tablet screen -->
              <source media="(min-width: 768px)" srcset="./images/slider/slider-photo1@2x.png 1x,
               ./images/slider/slider-photo1@2x.webp 2x" type="image/webp">
              <!-- Mobile screen -->
              <source media="(max-width: 767px)" srcset="./images/slider/slider-photo1@1x.png  1x,
              ./images/slider/slider-photo1@1x.webp 2x"
              type="image/webp">
              <img class="about__photo" src=" ./images/slider/slider-photo1@1x.webp" alt="зображення корови" width="278" height="278"
               loading="lazy">
            </picture>
<p class="review">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition,
  you have beautiful serving, cozy atmosphere and polite staff.
</p>
<p class="customer">Emily, Los Angeles</p>
          </div>

          <div>
            <!-- Customer2 -->
            <picture class="about-image">
              <source media="(min-width: 1200px)" srcset="../src/images/slider/slider-photo2@1x.png  1x,
              ./images/slider/slider-photo2@1x.webp 2x" type="image/webp">
              <!-- Tablet screen -->
              <source media="(min-width: 768px)" srcset="./images/slider/slider-photo2@2x.png 1x,
               ./images/slider/slider-photo2@2x.webp 2x" type="image/webp">
              <!-- Mobile screen -->
              <source media="(max-width: 767px)" srcset="./images/slider/slider-photo2@1x.png  1x,
              ./images/slider/slider-photo2@1x.webp 2x"
              type="image/webp">
              <img class="about__photo" src=" ./images/slider/slider-photo2@1x.webp" alt="зображення корови" width="278" height="278"
               loading="lazy">
            </picture>
<p class="review">I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.</p>
<p class="customer">Sam, Los Angeles</p>
          </div>
          <div>
            <!-- Customer3 -->
            <picture class="about-image">
              <source media="(min-width: 1200px)" srcset="../src/images/slider/slider-photo3@1x.png  1x,
              ./images/slider/slider-photo3@1x.webp 2x" type="image/webp">
              <!-- Tablet screen -->
              <source media="(min-width: 768px)" srcset="./images/slider/slider-photo3@2x.png 1x,
               ./images/slider/slider-photo3@2x.webp 2x" type="image/webp">
              <!-- Mobile screen -->
              <source media="(max-width: 767px)" srcset="./images/slider/slider-photo3@1x.png  1x,
              ./images/slider/slider-photo3@1x.webp 2x"
              type="image/webp">
              <img class="about__photo" src=" ./images/slider/slider-photo3@1x.webp" alt="зображення корови" width="278" height="278"
               loading="lazy">
            </picture>
            <p class="review">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent
              service - always served politely and quickly!  </p>
              <p class="customer">Diana, Chicago</p>
          </div>
          <div>
            <!-- Customer4 -->
            <picture class="about-image">
              <source media="(min-width: 1200px)" srcset="../src/images/slider/slider-photo4@1x.png  1x,
              ./images/slider/slider-photo4@1x.webp 2x" type="image/webp">
              <!-- Tablet screen -->
              <source media="(min-width: 768px)" srcset="./images/slider/slider-photo4@2x.png 1x,
               ./images/slider/slider-photo4@2x.webp 2x" type="image/webp">
              <!-- Mobile screen -->
              <source media="(max-width: 767px)" srcset="./images/slider/slider-photo4@1x.png  1x,
              ./images/slider/slider-photo4@1x.webp 2x"
              type="image/webp">
              <img class="about__photo" src=" ./images/slider/slider-photo4@1x.webp" alt="зображення корови" width="278" height="278"
               loading="lazy">
            </picture>
            <p class="review">Every day we come to you with friends after classes in college. We love your ice cream and casual
               atmosphere!   </p>
               <p class="customer">Bryan, New-York</p>
          </div>
        </div>

    </div>
</section>


