<p class="test">modal-about</p>

<button
class="menu-toggle js-open-menu button"
aria-expanded="false"
aria-controls="mobile-menu"
>
read more
<svg class="" width="18" height="18">
  <use href="/src/images/icons.svg#icon-arrow-hover"></use>
</svg>
</button>




  <!-- modal window -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="submit" class="modal-cross " data-modal-close href="">
      <svg class="" width="18" height="18">
      <use href="/src/images/icons.svg#icon-close-black"></use>
    </svg> </button>

       <h1 class="about_modal_title">How it’s made?</h1>

  <iframe class="about_modal_video" width="560" height="315"
    src="https://www.youtube.com/embed/y881t8ilMyc" frameborder="0"
     allowfullscreen>
  </iframe>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Hic tenetur sequi magnam veniam corrupti totam ut, reprehenderit
   ab nobis nihil quod quaerat mollitia voluptas? Eveniet quam minima
    dolorum iure harum.</p>
  </div>
</div>
<!-- <script src="./js/modal.js"></script> -->